<div id="post-{{id}}" class="card">
    <div class="card-img-container">
    <img id="image-thumbnail" src="{{thumbnail}}" alt="Missing Image">
   </div> 
   <div class="card-body">
        <p class="card-title">{{title}}</p>
        <p class="card-text">{{description}}</p>
        <a href="/post/{{id}}" class="anchor-button">Post Details</a>
    </div>
</div>