<head>
    <title>View Image</title>
</head>

<body>
    <header></header>
    <div id="post-container">

        <div id="post">
            <div id="photo-info">
                <h1 id="image-post-title-text"> {{currentPost.title}}</h1>
                <div id="image-post-author">Posted by: {{currentPost.username}}</div>
                <div id="image-post-date">{{currentPost.created}}</div>
                <div id="image-post-desc">{{currentPost.description}}</div>
            </div>
            <img id="image-post-image" src="/{{currentPost.photopath}}">

            <div id="comment-container">

                <div id="comment-box">
                    <textarea placeholder="Add a comment..." id="comment-box-text"></textarea>
                    <button id="comment-box-button" type="submit">Submit</button>
                    <i id="comment-box-button" aria-hidden="true"></i>
                </div>

                <div id="messages">
                    {{#each currentPost.comments}}
                    {{> comment this}}
                    {{/each}}
                </div>
            </div>
        </div>

    </div>

    {{!-- change date format --}}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('span[class=date-posted').forEach((postedDate) => {
                postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
            });
        });


        function addMessage(data) {
            let template = document.createElement('template');
            template.innerHTML =
                `<div id="message-${data.commentId}">
                <strong class="author-text">@${data.username}</strong>
                <div class="date-posted">${new Date().toLocaleString()}</div>
                <div class="comment-text">${data.comment}</div>
            </div>
            `;

            document.getElementById('messages').firstChild.before(template.content.firstChild);
        }

        document.getElementById('comment-box-button').onclick = (event) => {
            let commentText = document.getElementById('comment-box-text').value;
            let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

            if (!commentText) {
                return;
            }

            let fetchOptions = {
                method: "POST",
                headers: {
                    "Content-type": "Application/json"
                },
                body: JSON.stringify({
                    comment: commentText,
                    postId, postId
                })
            }
            fetch('/comments/create', fetchOptions)
                .then((response) => response.json())
                .then((data) => {
                    if (data.code == 1) {
                        addMessage(data);
                    } else {
                        addFlashFromFrontEnd(data.message, data.status);
                    }
                })
                .catch(err => console.log(err));
        }

    </script>
</body>


</html>